    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
    /*------General code-------*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --brand: #ff523b;
        --dark: #092032;
        --body: #516171;
        --white-color: #ffffff;
        --dark-color: rgba(255, 255, 255, 0);
        --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    }
    
    body {
        font-family: "Barlow", sans-serif;
        color: var(--body);
        line-height: 1.7;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .display-1,
    .display-2,
    .display-3,
    .display-4 {
        font-weight: 700;
        color: var(--dark);
    }
    /*------General code-------*/
    /*------x--------------Header------------------x----*/
    /*----Navbar-------*/
    
    .navbar {
        background: radial-gradient(#fff, #ffffff);
        padding: 10px;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    }
    
    .navbar-brand h1 {
        font-size: 30px;
        font-weight: 700;
        color: #ff523b;
    }
    
    .navbar-brand h1 span {
        font-size: 30px;
        font-weight: 700;
        color: #000000;
    }
    
    .bgcolor.scrolled {
        background: #ff523b;
        transition: 1s all;
        margin-top: 0;
    }
    
    .bgcolor.scrolled .navbar-toggler .navbar-toggler-icon {
        color: #ffffff;
    }
    
    .bgcolor.scrolled .navbar-brand h1 {
        color: #000000;
    }
    
    .bgcolor.scrolled .navbar-brand h1 span {
        color: var(--white-color);
    }
    
    .bgcolor.scrolled .navbar-nav li a {
        color: var(--white-color) !important;
        font-weight: 500;
    }
    
    .bgcolor.scrolled .navbar-nav li:hover a {
        color: #000000 !important;
    }
    
    .bgcolor.scrolled .navbar-nav>li>a:active,
    .navbar-nav>li>a:focus {
        border-bottom: 0.1875rem solid #ffffff;
    }
    
    .bgcolor.scrolled .navbar-nav>li>a:hover {
        border-bottom: 0.1875rem solid #ffffff;
        transition: ease 1s all;
    }
    
    nav a.nav-links {
        letter-spacing: 0.0375rem;
        cursor: pointer;
    }
    
    nav ul li {
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .navbar-nav>li>a {
        margin-left: 0.17rem;
        margin-right: 0.17rem;
        color: #000000 !important;
        border-bottom: 0.1875rem solid var(--dark-color);
    }
    
    .navbar-nav>li>a .active {
        color: #ff523b;
    }
    
    .navbar-nav>li:hover>a {
        color: #ff523b !important;
        font-weight: bold;
    }
    
    .navbar-nav>li>a:active,
    .navbar-nav>li>a:focus {
        border-bottom: 0.1875rem solid #ff523b;
    }
    
    .navbar-nav>li>a:hover {
        border-bottom: 0.1875rem solid #ff523b;
        transition: ease 1s all;
    }
    
    .dropdown-menu {
        background: rgba(255, 255, 255, 0.9);
    }
    
    .dropdown-menu>li>a {
        color: #000000;
        font-weight: 500;
        font-size: 13px;
        padding: 9px;
        border-bottom: 0.1875rem solid var(--dark-color);
    }
    
    .dropdown-menu>li>a:active,
    .dropdown-menu>li>a:focus {
        border-bottom: 0.1875rem solid #ff523b;
    }
    
    .dropdown-menu>li>a:hover {
        background-color: rgba(255, 82, 59, 0.4);
        color: #000000;
        border-bottom: 0.1875rem solid #ff523b;
        transition: ease 1s all;
    }
    /*---x----Navbar--x-----*/
    /*----------hero-------*/
    
    .hero-slider .owl-prev,
    .hero-slider .owl-next {
        background-color: rgba(255, 255, 255, 0.3) !important;
        width: 60px !important;
        height: 60px !important;
        display: block;
        display: grid;
        place-items: center;
        color: #fff !important;
        border-radius: 100px;
        line-height: 0;
        border-radius: 100px !important;
        position: absolute;
        top: 50%;
        font-weight: 600 !important;
        font-size: 12px !important;
        transition: all 0.4s ease;
        margin-top: -30px !important;
    }
    
    .owl-prev {
        left: 0;
    }
    
    .owl-next {
        right: 0;
    }
    
    .hero-slider .owl-prev:hover,
    .hero-slider .owl-next:hover {
        background-color: var(--brand) !important;
    }
    
    .owl-dot.active span {
        background-color: var(--brand) !important;
    }
    /* slide */
    
    .slide {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .slide1 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/bg_1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide2 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/bg_2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide3 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/bg_3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide .display-3 {
        text-transform: uppercase;
        color: #fff;
        font-size: 50px;
    }
    
    .btn-hero {
        display: inline-block;
        background: #ff523b;
        padding: 8px 30px;
        border-radius: 30px;
        color: var(--white-color);
        font-weight: 400;
    }
    
    .btn-hero:hover {
        background: none;
        border: 2px solid #ffffff;
        color: #ff523b;
    }
    /*----------Mobile Responsive------x-------*/
    
    @media only screen and (max-width: 1920px) {
        .slide .display-3 {
            font-size: 50px;
        }
    }
    
    @media only screen and (max-width: 760px) {
        .slide .display-3 {
            font-size: 35px;
        }
    }
    
    @media only screen and (max-width: 490px) {
        .slide .display-3 {
            word-wrap: break-word;
            font-size: 30px;
        }
    }
    
    @media only screen and (max-width: 380px) {
        .slide .display-3 {
            word-wrap: break-word;
            font-size: 20px;
        }
    }
    
    @media only screen and (max-width: 300px) {
        .slide .display-3 {
            font-size: 18px;
            text-align: center;
        }
    }
    /*---------x----------------Header--------------x-------*/
    /*about section*/
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    .glass {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    
    .about-container {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1067%26quot%3b)' fill='none'%3e%3crect width='312' height='312' clip-path='url(%26quot%3b%23SvgjsClipPath1068%26quot%3b)' x='677.41' y='136.17' fill='url(%23SvgjsPattern1069)' transform='rotate(334%2c 833.41%2c 292.17)'%3e%3c/rect%3e%3crect width='198.64' height='198.64' clip-path='url(%26quot%3b%23SvgjsClipPath1070%26quot%3b)' x='-46.38' y='177.19' fill='url(%23SvgjsPattern1071)' transform='rotate(151.28%2c 52.94%2c 276.51)'%3e%3c/rect%3e%3ccircle r='82.92253674751124' cx='1311.61' cy='52.17' stroke='rgba(19%2c 20%2c 23%2c 1)' stroke-width='1.01' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3cpath d='M1091.16 547.45a5.6 5.6 0 1 0 11.07 1.71 5.6 5.6 0 1 0-11.07-1.71zM1106.97 549.89a5.6 5.6 0 1 0 11.07 1.72 5.6 5.6 0 1 0-11.07-1.72zM1122.79 552.34a5.6 5.6 0 1 0 11.06 1.71 5.6 5.6 0 1 0-11.06-1.71zM1138.6 554.78a5.6 5.6 0 1 0 11.07 1.72 5.6 5.6 0 1 0-11.07-1.72zM1057.09 558.37a5.6 5.6 0 1 0 11.07 1.71 5.6 5.6 0 1 0-11.07-1.71zM1072.9 560.82a5.6 5.6 0 1 0 11.07 1.71 5.6 5.6 0 1 0-11.07-1.71zM1088.72 563.26a5.6 5.6 0 1 0 11.06 1.71 5.6 5.6 0 1 0-11.06-1.71zM1104.53 565.71a5.6 5.6 0 1 0 11.07 1.71 5.6 5.6 0 1 0-11.07-1.71z' fill='rgba(19%2c 20%2c 23%2c 1)'%3e%3c/path%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath1072%26quot%3b)' x='-9.89' y='60.42' fill='url(%23SvgjsPattern1073)' transform='rotate(113.07%2c 56.11%2c 126.42)'%3e%3c/rect%3e%3cpath d='M847.34 92.28 L960.6700000000001 104.30000000000001L955.8681170332242 46.426882966775935z' stroke='rgba(19%2c 20%2c 23%2c 1)' stroke-width='2.1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3ccircle r='46.666666666666664' cx='372.99' cy='293.97' fill='rgba(19%2c 20%2c 23%2c 1)'%3e%3c/circle%3e%3crect width='158.88' height='158.88' clip-path='url(%26quot%3b%23SvgjsClipPath1074%26quot%3b)' x='800.52' y='211.69' fill='url(%23SvgjsPattern1075)' transform='rotate(180.7%2c 879.96%2c 291.13)'%3e%3c/rect%3e%3crect width='121.28' height='121.28' clip-path='url(%26quot%3b%23SvgjsClipPath1076%26quot%3b)' x='205.93' y='469.17' fill='url(%23SvgjsPattern1077)' transform='rotate(83.74%2c 266.57%2c 529.81)'%3e%3c/rect%3e%3ccircle r='77.8082295731129' cx='20.65' cy='166.79' fill='rgba(19%2c 20%2c 23%2c 1)'%3e%3c/circle%3e%3crect width='300' height='300' clip-path='url(%26quot%3b%23SvgjsClipPath1078%26quot%3b)' x='445.49' y='203.13' fill='url(%23SvgjsPattern1079)' transform='rotate(22.3%2c 595.49%2c 353.13)'%3e%3c/rect%3e%3crect width='72.2' height='72.2' clip-path='url(%26quot%3b%23SvgjsClipPath1080%26quot%3b)' x='1266.66' y='175.12' fill='url(%23SvgjsPattern1081)' transform='rotate(257.34%2c 1302.76%2c 211.22)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1067'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='12' height='12' patternUnits='userSpaceOnUse' id='SvgjsPattern1069'%3e%3cpath d='M6 1L6 11M1 6L11 6' stroke='rgba(19%2c 20%2c 23%2c 1)' fill='none' stroke-width='1.76'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1068'%3e%3ccircle r='78' cx='833.41' cy='292.17'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='198.64' height='7.64' patternUnits='userSpaceOnUse' id='SvgjsPattern1071'%3e%3crect width='198.64' height='3.82' x='0' y='0' fill='rgba(19%2c 20%2c 23%2c 1)'%3e%3c/rect%3e%3crect width='198.64' height='3.82' x='0' y='3.82' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1070'%3e%3ccircle r='49.66' cx='52.94' cy='276.51'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='13.2' height='13.2' patternUnits='userSpaceOnUse' id='SvgjsPattern1073'%3e%3cpath d='M6.6 1L6.6 12.2M1 6.6L12.2 6.6' stroke='rgba(19%2c 20%2c 23%2c 1)' fill='none' stroke-width='4.45'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1072'%3e%3ccircle r='33' cx='56.11' cy='126.42'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='158.88' height='6.62' patternUnits='userSpaceOnUse' id='SvgjsPattern1075'%3e%3crect width='158.88' height='3.31' x='0' y='0' fill='rgba(19%2c 20%2c 23%2c 1)'%3e%3c/rect%3e%3crect width='158.88' height='3.31' x='0' y='3.31' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1074'%3e%3ccircle r='39.72' cx='879.96' cy='291.13'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='121.28' height='7.58' patternUnits='userSpaceOnUse' id='SvgjsPattern1077'%3e%3crect width='121.28' height='3.79' x='0' y='0' fill='rgba(19%2c 20%2c 23%2c 1)'%3e%3c/rect%3e%3crect width='121.28' height='3.79' x='0' y='3.79' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1076'%3e%3ccircle r='30.32' cx='266.57' cy='529.81'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1079'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(19%2c 20%2c 23%2c 1)' fill='none' stroke-width='1.55'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1078'%3e%3ccircle r='75' cx='595.49' cy='353.13'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='72.2' height='7.22' patternUnits='userSpaceOnUse' id='SvgjsPattern1081'%3e%3crect width='72.2' height='3.61' x='0' y='0' fill='rgba(19%2c 20%2c 23%2c 1)'%3e%3c/rect%3e%3crect width='72.2' height='3.61' x='0' y='3.61' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1080'%3e%3ccircle r='18.05' cx='1302.76' cy='211.22'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(91,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23BBBBBB'/%3E%3Cstop offset='1' stop-color='%23555555'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(64,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23555555'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='15.51'%3E%3Cpath transform='translate(-81.9 0.7999999999999989) rotate(-4.300000000000001 1409 581) scale(0.934736)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='5.170000000000001' transform='translate(-114 66) rotate(3.799999999999999 800 450) scale(1.0007279999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(8.200000000000003 -54) rotate(22 401 736) scale(1.0007279999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4.7'%3E%3Cpath transform='translate(396 5.6) rotate(-1.4 150 345) scale(0.996912)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='10.340000000000002' transform='translate(-88 -181) rotate(7.200000000000003 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-216.8 55.2) rotate(1.1999999999999993 1400 132) scale(0.84)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
    
    .about-container svg {
        position: relative;
        top: 0;
    }
    
    .about {
        padding: 2rem;
        max-width: 80%;
        margin: auto;
        text-align: center;
    }
    
    .about h4 {
        text-transform: uppercase;
    }
    
    .about h4,
    p,
    h1 {
        padding-top: 1em;
    }
    
    .figures {
        display: flex;
        max-width: 90%;
        margin: auto;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: center;
        align-content: center;
    }
    
    .figures .item {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.51);
        border-radius: 4px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.2px);
        -webkit-backdrop-filter: blur(6.2px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: .5rem;
        margin: 1rem;
    }
    
    .about button {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        padding: 1rem;
        width: 10em;
        margin: 1rem 0 2rem 0;
        border-radius: 4px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .about button:hover {
        color: #d6d6d6;
    }
    
    .about .item h3 {
        font-size: 2rem;
        font-weight: bold;
    }
    /*about section end's*/
    /*---------x---------------Services section--------------x-------*/
    
    p {
        font-size: large;
    }
    
    .slide4 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/image_1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide5 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/image_2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide6 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/image_3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide7 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide8 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide9 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide10 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-4.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide11 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-5.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide12 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-6.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide13 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-7.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide14 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-8.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide15 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-9.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide16 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-10.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide17 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-11.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    
    .slide18 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/work-12.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        ;
    }
    /*---------x---------------Services section--------------x-------*/
    /*** Testimonial ***/
    
    #services {
        background: var(--dark);
    }
    
    #services-title-center {
        color: #fff;
    }
    
    #services-h5 {
        color: #fff;
    }
    
    #services-p {
        color: #fff;
    }
    
    .testimonial-item a {
        text-decoration: none;
    }
    
    .testimonial-carousel .owl-item .testimonial-text,
    .testimonial-carousel .owl-item.center .testimonial-text * {
        transition: .5s;
    }
    
    .testimonial-carousel .owl-item.center .testimonial-text {
        background: var(--brand) !important;
    }
    
    .testimonial-carousel .owl-item.center .testimonial-text * {
        color: #FFFFFF !important;
    }
    
    .testimonial-carousel .owl-dots {
        margin-top: 24px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    .testimonial-carousel .owl-dot {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        width: 15px;
        height: 15px;
        border: 1px solid #CCCCCC;
        transition: .5s;
        background: var(--dark);
    }
    
    .testimonial-carousel .owl-dot.active {
        background: var(--brand);
        border-color: var(--brand);
    }
    /*---------x---------------Services section--------------x-------*/
    /*** Booking ***/
    
    .booking {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/4.jpg) center center no-repeat;
        background-size: cover;
    }
    
    .bootstrap-datetimepicker-widget.bottom {
        top: auto !important;
    }
    
    .bootstrap-datetimepicker-widget .table * {
        border-bottom-width: 0px;
    }
    
    .bootstrap-datetimepicker-widget .table th {
        font-weight: 500;
    }
    
    .bootstrap-datetimepicker-widget.dropdown-menu {
        padding: 10px;
        border-radius: 2px;
    }
    
    .bootstrap-datetimepicker-widget table td.active,
    .bootstrap-datetimepicker-widget table td.active:hover {
        background: var(--body);
    }
    
    .bootstrap-datetimepicker-widget table td.today::before {
        border-bottom-color: var(--body);
    }
    /* Contact Section */
    
    #contact-1 {
        background: var(--body);
    }
    
    #contact {
        padding: 100px 0 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #contact .section-title {
        margin-bottom: 40px;
    }
    
    #contact .section-title p {
        font-size: 16px;
    }
    
    #contact h2 {
        color: #fff;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    
    #contact .section-title h2::after {
        position: absolute;
        content: "";
        background: rgba(255, 255, 255, .3);
        height: 4px;
        width: 60px;
        bottom: 0;
        left: 30px;
    }
    
    #contact h3 {
        color: #fff;
        margin-top: 80px;
        margin-bottom: 25px;
        padding-bottom: 20px;
        font-weight: 400;
    }
    
    #contact form {
        padding-top: 20px;
    }
    
    #contact .text-danger {
        color: #cc0033;
        text-align: left;
    }
    
    #contact .btn-custom {
        margin: 30px 0;
        background: transparent;
        border: 2px solid #fff;
    }
    
    #contact .btn-custom:hover {
        color: #1f386e;
        background: #fff;
    }
    
    label {
        font-size: 12px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        float: left;
    }
    
    #contact .form-control {
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.42857143;
        color: #444;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    
    #contact .form-control:focus {
        border-color: #999;
        outline: 0;
        -webkit-box-shadow: transparent;
        box-shadow: transparent;
    }
    
    .form-control::-webkit-input-placeholder {
        color: #777;
    }
    
    .form-control:-moz-placeholder {
        color: #777;
    }
    
    .form-control::-moz-placeholder {
        color: #777;
    }
    
    .form-control:-ms-input-placeholder {
        color: #777;
    }
    
    #contact .contact-item {
        margin: 20px 0;
    }
    
    #contact .contact-item span {
        color: rgba(255, 255, 255, 1);
        margin-bottom: 10px;
        display: block;
    }
    
    #contact .contact-item i.fa {
        margin-right: 10px;
    }
    
    #contact .social {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        padding-top: 50px;
        margin-top: 50px;
        text-align: center;
    }
    
    #contact .social ul li {
        display: inline-block;
        margin: 0 20px;
    }
    
    #contact .social i.fa {
        font-size: 22px;
        width: 48px;
        height: 48px;
        padding: 12px 0;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 50%;
        transition: all 0.3s;
    }
    
    #contact .social i.fa:hover {
        color: #608dfd;
        background: #fff;
    }
    /*-------contact-------*/
    /* ---------------Footer section--------------------*/
    
    .footer-company-name a {
        text-decoration: none;
        color: var(--dark);
    }
    
    .footer-distributed {
        background: #666;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 55px 50px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }
    /* Footer left */
    
    .footer-distributed .footer-left {
        width: 40%;
    }
    /* The company logo */
    
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Open Sans', cursive;
        margin: 0;
    }
    
    .footer-distributed h3 span {
        color: var(--brand);
    }
    /* Footer links */
    
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }
    
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        font-weight: 400;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-distributed .footer-company-name {
        color: #222;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    /* Footer Center */
    
    .footer-distributed .footer-center {
        width: 35%;
    }
    
    .footer-distributed .footer-center i {
        background-color: #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
        display: inline-block;
        color: #ffffff;
        font-weight: 400;
        vertical-align: middle;
        margin: 0;
    }
    
    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footer-distributed .footer-center p a {
        color: var(--brand);
        text-decoration: none;
        ;
    }
    
    .footer-distributed .footer-links a:before {
        content: "|";
        font-weight: 300;
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
    }
    
    .footer-distributed .footer-links .link-1:before {
        content: none;
    }
    /* Footer Right */
    
    .footer-distributed .footer-right {
        width: 20%;
        font-size: 13px;
        color: #92999f;
    }
    
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons {
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    /* If you don't want the footer to be responsive, remove these media queries */
    
    @media (max-width: 880px) {
        .footer-distributed {
            font: bold 14px sans-serif;
        }
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
    }
    /*------------  Responsive  ------------*/
    /*------------ Services section --------*/